*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif ;
    /* box-sizing: border-box; */
}
.container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
.navbar{
    grid-column: 1/11;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 2rem;
    /* box-shadow: 1px 1px 20px rgb(177, 179, 179); */ 
}
.nav-item{
    margin: 0 20px;
}
.nav-item{
    color: #000;
    font-size: 25px;
    margin-right: 5rem;
    font-family: Inter, sans-serif;
}
.nav-item a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    margin-left: 2rem;
}
.nav-item a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.nav-item a:hover::after{
    width: 100%;
}
.Middle-section{
    grid-column: 1/11;
    grid-row: 3/11;
    display: flex;
    justify-content: center;
}
.Box{
    width:40%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 1.3rem;
    /* border: 2px solid #000; */
}
.profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    margin-top: 8rem;
    margin-left: 15rem;
}
.profile-pic img{
    border-radius: 50%;
}

.headings{
    margin-top: 10rem ;
}
.headings p{
    margin-bottom: 10px;
    margin-left: 4.5rem;
    color: rgb(56, 54, 54);
}
.headings h3{
    margin-left: 2rem;
    color: rgb(56, 54, 54);
    margin-top: 10px;
}
.Download{
    border-radius: 15px;
    height: 30px;
    width: 90px;
    font-size: 11px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 16px;
}
.Download2{
    border-radius: 15px;
    height: 30px;
    width: 90px;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    margin-top: 10px;
    background-color: rgb(41, 40, 40);
    margin-left: 10px;
}
.Page2{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    display: flex;
    flex-direction: column;
}
.About-me h5{
    margin-left: 35rem;
    color: rgb(56, 54, 54);
    
}
.About-me h1{
    margin-left: 34.3rem;
    margin-top: 5px;
}
.About-me p{
    margin-top: 5rem;
    margin-left: 15rem;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    max-width: 800px;
    text-align: center;
}
.About-me img{
   margin-left: 72rem;

}
.Page3{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
.experience-container{
    grid-column: 1/11;
    grid-row: 2/8;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.card{
    height: 100%;
    width: 40%;
    background-color: #feffff;
    border-radius: 20px;
    border: 2px solid grey; 
    box-shadow: 1px 1px 20px rgb(177, 179, 179);
    margin-top: 4rem;
}
.Page3 h1{
    margin-left: 32rem;
    margin-top: 3rem;
}
.card h2{
    margin-left: 7rem;
    margin-top: 1.5rem;
    
}
.text h4{
    margin-left: 3rem;
    font-weight: 600;
}
.text p{
    margin-left: 3rem;
}
.text img{
    margin-left: 1.5rem;
    
}




