*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif ;
    /* box-sizing: border-box; */
}
.container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
.navbar{
    grid-column: 1/11;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 2rem;
    position:sticky;
    /* background-color: #8b3a1a; */
    /* box-shadow: 1px 1px 20px rgb(177, 179, 179); */ 
}
.nav-item{
    margin: 0 20px;
}
.nav-item{
    color: #000;
    font-size: 25px;
    margin-right: 5rem;
    font-family: Inter, sans-serif;
}
.nav-item a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    margin-left: 2rem;
}
.nav-item a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.nav-item a:hover::after{
    width: 100%;
}
.Middle-section{
    grid-column: 1/11;
    grid-row: 3/11;
    display: flex;
    justify-content: center;
}
.Box{
    width:40%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 1.3rem;
    /* border: 2px solid #000; */
}
.profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    margin-top: 8rem;
    margin-left: 15rem;
}
.profile-pic img{
    border-radius: 50%;
}

.headings{
    margin-top: 10rem ;
}
.headings p{
    margin-bottom: 10px;
    margin-left: 4.5rem;
    color: rgb(56, 54, 54);
}
.headings h3{
    margin-left: 2rem;
    color: rgb(56, 54, 54);
    margin-top: 10px;
}
.Download{
    border-radius: 15px;
    height: 30px;
    width: 90px;
    font-size: 11px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 16px;
}
.Download2{
    border-radius: 15px;
    height: 30px;
    width: 90px;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    margin-top: 10px;
    background-color: rgb(41, 40, 40);
    margin-left: 10px;
}
.Page2{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    display: flex;
    flex-direction: column;
}
.About-me h5{
    margin-left: 35rem;
    margin-top: 2rem;
    color: rgb(56, 54, 54);
    
}
.About-me h1{
    margin-left: 34.3rem;
    margin-top: 5px;
}
.About-me p{
    margin-top: 5rem;
    margin-left: 15rem;
    font-size: 1rem;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    line-height: 1.8;
    max-width: 800px;
    text-align: justify;
}
.About-me img{
   margin-left: 72rem;

}
.Page3{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
.experience-container{
    grid-column: 1/11;
    grid-row: 2/8;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.card{
    height: 100%;
    width: 40%;
    background-color: #feffff;
    border-radius: 20px;
    border: 2px solid grey; 
    box-shadow: 1px 1px 20px rgb(177, 179, 179);
    margin-top: 4rem;
}
.Page3 h1{
    margin-left: 32rem;
    margin-top: 3rem;
    text-align: center;
}
.card h2{
    margin-left: 7rem;
    margin-top: 1.5rem;
    
    
}
.text h4{
    margin: 0;
    /* font-size: 1.2rem; */
    margin-left: 3rem;
    font-weight: 600;
}
.text p{
    margin: 0;
    /* font-size: 1.2rem; */
    margin-left: 3rem;
}
.text img{
    width: 20px;
    margin-left: 1.5rem;
    
}
.Page4{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
.Page4 h1{
    margin-left: 33rem;
    margin-top: 3rem;
}
.Blocks{
    grid-column: 1/11;
    grid-row: 3/9;
    display: flex;
    justify-content: center;
    /* background-color: bisque; */
    gap: 25px;
}
.B1{
    height: 90%;
    width: 20%;
    background-color: #feffff;
    border-radius: 20px;
    border: 2px solid grey; 
    margin-top: 1rem;
}
.B2{
  height: 50%;
  width: 70%;
  border: 2px solid black;
  border-radius: 20px;
  margin-left: 2rem;
  margin-top: 20px;
  background-image: url(download.png);
  background-size: cover;
}
 .B2 p{ 
    margin-left: 1.7rem;
    margin-top: 11rem;
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 600;
} 
 .B3{
  height: 50%;
  width: 70%;
  border: 2px solid black;
  border-radius: 20px;
  margin-left: 2rem;
  margin-top: 20px;
  background-image: url(brand.avif);
  background-size: contain;
 }
 .B3 p{
  margin-left: 1.7rem;
  margin-top: 11rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 600;
 }
 .B4{
  height: 50%;
  width: 70%;
  border: 2px solid black;
  border-radius: 20px;
  margin-left: 2rem;
  margin-top: 20px;
  background-image: url(download.jpeg);
  background-size: cover;
 }
 .B4 p{
  margin-left: 1.7rem;
  margin-top: 11rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 600;
 } 

 .github{
    margin-left: 10px;
    /* margin-top: px; */
    margin-right: 5px;
    width: 40%;
    height: 30px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 10px;
} 
.live{
    /* margin-right: ; */
    width: 40%;
    height: 30px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 10px;
} 
.Page5{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
.contact-container {
  /* background-color: #f9f7f4; white-cream card */
  width: 80%;
  height: 100%;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  margin-left: 12rem;
}
.contact-left {
  flex: 1;
  padding-right: 40px;
}
.contact-left h1 {
  font-size: 40px;
  color: #8b3a1a; /* brown title */
  margin-bottom: 10px;
}
.subtitle {
  font-size: 18px;
  color: #8b3a1a;
  margin-bottom: 20px;
}
.description {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 40px;
}
.email {
  margin-bottom: 30px;
}
.email a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  margin-left: 5px;
}
.social-icons i {
  font-size: 20px;
  margin-right: 15px;
  color: #333;
  cursor: pointer;
}
.contact-right {
  flex: 1;
}
form {
  width: 100%;
}
.form-row {
  display: flex;
  justify-content: space-between;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 48%;
}
.form-group label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  font-size: 15px;
  outline: none;
  background-color: #fff;
}
textarea {
  resize: none;
}
.Page5 button {
  background-color: #8b3a1a;
  color: #fff;
  border: none;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: #a44b25;
}
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 40px 20px;
  }

  .contact-left, .contact-right {
    width: 100%;
    padding: 0;
  }

  .form-row {
    flex-direction: column;
  }

  .form-group {
    width: 100%;
  }
}




